<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <b>
        here we are using ndemailer 
        <br>
        <form action="/sms" method="POST">
        <input name="forget" type="text">
        <button>Submit</button></form>
    </b>
</body>
</html>